<div class="main-block" ng-controller="ForgotPasswordCtrl">
    <div class="page-heading-two">
        <div class="container">
            <h2>Forgot Password?</h2>
        </div>
    </div>
    <div class="container">
        <div class="ecommerce">
            <div class="row">
                <div class="col-md-9 col-sm-8">
                    <form class="form-horizontal"  name="ForgotPasswordForm" role="form">
                        <div class="form-group">
                            <label for="inputUserName" class="col-md-2 control-label">UserName</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" ng-model="UserName" id="inputUserName" required placeholder="UserName">
                            </div>
                        </div>
                    </form>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-6">
                            <button type="button" ng-click="forgotPassword()" class="btn btn-color">Submit</button>
                            <h1>{{UserName.$valid}}</h1>
                        </div>                  
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>