
<div class="main-block">
    <div class="container">

        <!-- Actual content -->
        <div class="ecommerce">
            <div class="row">
                <div class="col-md-9 col-sm-8 col-md-push-3 col-sm-push-4">
                    <!-- Shopping items content -->
                    <div class="shopping-content">

                        <div class="shopping-single">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">

                                    <!-- Carousel -->
                                    <!-- Bootstrap carousel usage
                                        Bootstrap carousel should have id. Below i am using "bs-carousel-X". Where "X" denotes number". If a page has more than 1 carousel, then add the new carousel with the id "bs-carousel-1", "bs-carousel-2". You also need to update the id in, "carousel indicators" section and "carousel control" section.

                                        Carousel comes with 3 main data attributes which you can customize. They are...
                                        data-interval - Time delay between item cycle. Default value "5000".
                                        data-pause - Pause on hover. Default value "pause".
                                        data-wrap - Continues cycle or stop at the end. Default value "true".
                                    -->
                                    <!-- Outer layer -->
                                    <div>
                                        <img src="img/YourReservation Pictures/RestaurantImage1.jpg" height="250" width="250" />
                                    </div>

                                </div>
                                <div class="col-md-8 col-sm-6">
                                    <h4>About <font color="black">Your</font><font color="green">Reserve</font></h4>
                                    <p><font color="black">Your</font><font color="green">Reserve</font> is a restaurant reservation web application designed to throw as much information at you as a restaurant manager, or owner about reservations
                                    at your restaurant. This allows you to make changes and strategies to bring in more customers, meaning more profits. <font color="black">Your</font><font color="green">Reserve</font> brings you a list of optionable features that can help your
                                    restaurant save money, or bring in more business. We know not everything works for every restaurant so we give you the freedom as the owner/manager of your restaurant to choose what works best for you. <a href="http://www.yourreserveadmin.entellication.com" target="_blank">Register Here</a> </p>
                                    <!-- Product Details -->
                                    
                                    
                                    <br />
                                    <!-- Add to wish list -->
                                </div>
                            </div>
                            <br />             
                        </div>
                    </div>
                </div>
           
            </div>

            <br />

            <!-- Recent items Starts -->

 

            <!-- Recent items Ends -->

        </div>

    </div>
</div>