<div class="row" ng-controller="ReservationsCtrl">
    <div class="col-md-12">
        <div class="pricing-one">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <!-- Pricing Content Item -->
                        <div class="pricing-item">
                            <!-- Heading -->
                            <h3>Your Reservation Details</h3>
                            <!-- Content plan price -->
                            <div class="plan-details">
                                <h2>Your Reservation has been submitted to {{Restaurant.RestautantName}}.</h2>
                                <a href="#/Home"><h4>Go To Home</h4></a>
                                <!--<ul class="list-unstyled">

                                    <li>Restaurant<span class="pull-right">{{Restaurant.RestaurantName}}</span></li>
                                    <li>Name <span class="pull-right">{{ResSubmitted.FirstName + " " + ResSubmitted.LastName}}</span></li>
                                    <li>Party Amount <span class="pull-right">{{ResSubmitted.PartyNumber}}</span></li>
                                    <li>Date <span class="pull-right">{{ResSubmitted.ReservationDate}}</span></li>
                                    <li>Time <span class="pull-right">{{ResSubmitted.ReservationTime}}</span></li>
                                    
                                </ul>-->
                            </div>
                            <div class="clearfix"></div>
                            <!-- Tag -->
                            <span class="tag bg-color"><i class="fa fa-fire"></i></span>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
</div>
